.activities-item {
    display: block;
    text-decoration: none;
    background: $white-color;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    border-radius: 9.5px;
    height: 100%;
    transition: all 0.25s;

    $item: &;

    &:hover {
        text-decoration: none;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);

        #{$item}__title {
            color: $dark-color;
            text-decoration: none;
        }
    }

    &__image {
        height: 302px;
        position: relative;
        overflow: hidden;
        border-radius: 9.5px 9.5px 0 0;
        @media (max-width: 1199px) {
            padding-bottom: 85.5%;
            height: auto;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        border-radius: 0 0 9.5px 9.5px;
        padding: 13px 15px 55px;
        position: relative;

        .review {
            margin-bottom: 15px;
        }
    }

    &__price {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 9.5px 0 9.5px 0;
        width: 100px;
        height: 54.74px;
        background: $brand-primary;
        color: $white-color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
    }

    &__title {
        display: block;
        color: $brand-primary;
        margin: 0 0 10px;
        text-decoration: none;
        transition: all 0.25s;
        @extend %h6;
    }

    &__text {
        @extend %text-14;
        font-weight: 300;
        color: $text-color;
        margin: 0;
    }
}
