.aside-images {
    margin-bottom: 29px;
    @media (max-width: 991px) {
        display: none;
    }

    &__item {
        position: relative;
        padding-bottom: 65%;
        overflow: hidden;
        margin: 0 0 20px;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
