.aside-date {
    background: $white-color;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    $block: &;

    @media (max-width: 991px) {
        box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.15);
        overflow: auto;
    }

    &.active {
        @media (max-width: 991px) {
            #{$block}__fix {
                display: none;
            }
            #{$block}__header {
                display: block;
            }
            #{$block}__body {
                display: block;
            }
        }
    }

    &__fix {
        display: none;
        @media (max-width: 991px) {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        &-price {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 400;
            font-size: 28px;
            line-height: 1.25;
            color: $brand-primary;
            background-color: $white-color;
            flex-grow: 1;
            border-radius: 10px 0 0 10px;
            @media (max-width: 400px) {
                font-size: 22px;
            }
        }

        &-btn {
            cursor: pointer;
            background-color: $brand-primary;
            border: 1px solid $brand-primary;
            color: $white-color;
            text-decoration: none;
            transition: all 0.25s;
            @extend %text-18;
            text-align: center;
            padding: 25px 30px;
            flex-shrink: 0;
            border-radius: 0 10px 10px 0;
            @media (max-width: 575px) {
                padding: 25px 25px;
            }
            @media (max-width: 400px) {
                font-size: 15px;
                padding: 25px 15px;
            }

            &:hover {
                text-decoration: none;
                background-color: $white-color;
                color: $brand-primary;
            }
        }
    }

    &__header {
        border-radius: 10px 10px 0 0;
        text-align: center;
        padding: 18px;
        @extend %text-18;
        color: $white-color;
        background-color: #6BA5E2;

        @media (max-width: 991px) {
            display: none;
        }
    }

    &__body {
        border: 1px solid $text-light-color;
        border-top: none;
        border-radius: 0 0 10px 10px;

        @media (max-width: 991px) {
            display: none;
        }
    }

    &__calendar {
        padding: 50px 0 40px;
        margin: 0 auto;
        width: max-content;
        @media (max-width: 400px) {
            padding: 15px 0;
        }

        input {
            display: none;
        }

        .air-datepicker.-inline- {
            transform: scale(1.2);
            @media (max-width: 400px) {
                transform: scale(1);
            }
        }
    }

    &__form {
        padding: 0 20px;
        margin-bottom: 30px;
        @media (max-width: 400px) {
            padding: 0 15px;
            margin-bottom: 10px;

            .row {
                flex-direction: column;
            }

            .col-6 {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    &__footer {
        align-items: stretch;

        .il-btn {
            width: 50%;
            flex-shrink: 0;
            border-radius: 0 0 10px 0;
        }
    }

    &__total {
        border-top: 1px solid #E5E5E5;
        text-align: center;
        width: 50%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: $brand-primary;
    }
}
