.block-news {
    margin-bottom: 104px;
    @media (max-width: 767px) {
        margin-bottom: 55px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__wrap {
        position: relative;
        @media (max-width: 575px) {
            margin-bottom: 95px;
        }
    }

    .swiper {
        padding: 50px 15px 40px;
        width: calc(100% + 30px);
        margin-left: -15px;
        @media (max-width: 575px) {
            padding: 30px 15px 40px;
        }
    }

    .news-slider-prev,
    .news-slider-next {
        position: absolute;
        bottom: -75px;
        width: 75px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s;
        background: $white-color;
        border: 1px solid $pagination-border;
        box-sizing: border-box;
        border-radius: 10px;
        cursor: pointer;
        @media (max-width: 575px) {
            bottom: -65px;
        }

        svg {
            path {
                transition: all 0.25s;
            }
        }

        &:hover {
            border-color: $brand-primary;
            background-color: $brand-primary;
            svg {
                path {
                    fill: $white-color;
                }
            }
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }

        &:after, &:before {
            display: none;
        }
    }

    .news-slider-prev {
        left: 0;
        @media (max-width: 575px) {
            left: calc(50% - 85px);
        }
    }
    .news-slider-next {
        left: 95px;
        @media (max-width: 575px) {
            left: calc(50% + 10px);
        }
    }
}
