.destination {
    margin-bottom: 44px;
    @media (max-width: 575px) {
        margin-bottom: 38px;
    }

    &__title {
        margin-bottom: 38px;
        @media (max-width: 767px) {
            margin-bottom: 27px;
        }
    }

    &__list {
        margin-bottom: 14px;
        @media (max-width: 767px) {
            margin-bottom: 7px;
        }
    }

    &__item {
        display: block;
        position: relative;
        height: 226px;
        border-radius: 10px;
        text-decoration: none;
        margin-bottom: 30px;
        @media (max-width: 575px) {
            margin-bottom: 20px;
            padding-bottom: 89%;
            height: auto;
        }

        $item: &;

        &:hover {
            text-decoration: none;

            #{$item}-image {
                &:after {
                    opacity: 0.25;
                }
            }
        }

        &-image {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            z-index: 1;
            @media (max-width: 575px) {
                position: absolute;
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: $black-color;
                opacity: 0.5;
                transition: all 0.25s;
            }
        }

        &-title {
            position: absolute;
            z-index: 2;
            text-align: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: max-content;
            color: $white-color;
            @media (max-width: 575px) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}
