.catalog {
    padding: 40px 0 80px;
    @media (max-width: 575px) {
        padding: 0 0 60px;
    }

    &__wrap {
        align-items: flex-start;
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__filter {
        width: 374px;
        flex-shrink: 0;
        margin-right: 30px;
        @media (max-width: 1199px) {
            width: 330px;
            margin-right: 20px;
        }
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 15px;
            margin-right: 0;
        }
    }

    &__content {
        flex-grow: 1;
        @media (max-width: 991px) {
            width: 100%;
        }

        &-top {
            justify-content: space-between;
            align-items: center;
            margin: 0 0 40px;
            @media (max-width: 767px) {
                flex-direction: column-reverse;
                margin: 0 0 30px;
                width: 100%;
                align-items: flex-start;
            }

            p {
                @extend %text-18;
                margin: 0;
                @media (max-width: 767px) {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 29px;
                    margin-top: 30px;
                }
            }

            &-btns {
                @media (max-width: 767px) {
                    width: 100%;
                }
            }

            .il-btn {
                margin-right: 14px;
                width: 180px;
                padding-top: 18px;
                padding-bottom: 18px;
                font-size: 16px;
                line-height: 20px;
                @media (max-width: 767px) {
                    width: calc(50% - 8px);
                    margin-right: 16px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    &__sort {
        width: 180px;
        @media (max-width: 767px) {
            width: calc(50% - 8px);
        }

        .select2-container {
            .select2-selection--single {
                position: relative;
                height: auto;
                border: 1px solid $brand-primary;
                padding: 19px 15px;
                box-sizing: border-box;
                border-radius: 10px;

                .select2-selection__rendered {
                    padding: 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    position: relative;
                    color: $brand-primary;
                    text-align: center;
                }

                .select2-selection__arrow {
                    display: none
                }

                .select2-selection__placeholder {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: $brand-primary;
                    &:before {
                        content: '';
                        display: block;
                        width: 11px;
                        height: 14px;
                        flex-shrink: 0;
                        margin-right: 6px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: url("../img/icons/sort.svg");
                    }
                }
            }
        }
    }
}
