.faq {
    margin-bottom: 40px;
    &__title {
        margin-bottom: 34px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__item {
        margin-bottom: 10px;
        border: 1px solid $brand-primary;
        box-sizing: border-box;
        border-radius: 10px;
        $item: &;

        &.active {
            #{$item}-body {
                display: block;
            }
            #{$item}-icon-arrow {
                transform: rotate(180deg);
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: $brand-primary;
            padding: 20px 34px 20px 20px;
            border-radius: 10px;
            cursor: pointer;
            @media (max-width: 767px) {
                padding: 20px;
            }
            @media (max-width: 400px) {
                padding: 20px 15px;
            }
        }

        &-icon-arrow {
            display: block;
            flex-shrink: 0;
            margin-left: 10px;
            width: 16px;
            transition: all 0.25s;

            svg {
                width: 100%;
            }
        }

        &-body {
            display: none;
            padding: 10px 20px 30px 20px;
            @media (max-width: 767px) {
                padding: 5px 20px 20px;
            }
            @media (max-width: 400px) {
                padding: 5px 15px 20px;
            }

            h5 {
                @extend %h5;
                font-weight: 400;
                color: $brand-primary;
                margin: 0 0 17px;
            }

            p {
                @extend %text-14;
                font-weight: 300;
                color: $text-color;
                margin: 0 0 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
