.filter {
    background: $white-color;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 10px;
    @media(max-width: 991px) {
        display: none;
    }

    $filter: &;

    &.active {
        @media(max-width: 991px) {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            background-color: rgba(16,16,16,0.76);
            padding: 15px;
            overflow-y: scroll;
        }
    }

    &-btn {
        @media(max-width: 991px) {
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 18px 40px;
        }

        .text-icon {
            flex-shrink: 0;
            width: 16px;
            margin-right: 4px;
            svg {
                width: 100%;
                path {
                    transition: all 0.25s;
                    fill: $brand-primary;
                }
            }
        }

        &:hover {
            .text-icon {
                svg {
                    path {
                        fill: $white-color;
                    }
                }
            }
        }
    }

    &__wrap {
        @media(max-width: 991px) {
            margin: 0 auto;
            width: 690px;
        }
        @media(max-width: 767px) {
            width: 510px;
        }
        @media(max-width: 575px) {
            width: 100%;
        }
    }

    &__header {
        border-radius: 10px 10px 0 0;
        background-color: $brand-primary;
        padding: 20px 26px;
        color: $white-color;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @media(max-width: 991px) {
            justify-content: center;
        }

        &-icon {
            width: 20px;
            height: 10px;
            transform: rotate(180deg);
            @media(max-width: 991px) {
                display: none;
            }

            svg {
                vertical-align: top;
                width: 100%;
                height: 100%;
                path {
                    fill: $white-color;
                }
            }
        }

        &-text {
            align-items: center;
            .text-icon {
                width: 16px;
                flex-shrink: 0;
                margin-right: 5px;
                svg {
                    width: 100%;
                }
            }
        }
    }

    &__availability {
        justify-content: space-between;

        .check-btn {
            margin-right: 15px;
            flex-grow: 1;
            flex-shrink: 0;
            @media(max-width: 400px) {
                margin-right: 10px;
                label {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__body {
        border-radius: 0;
        overflow: hidden;
        padding: 0 16px;
        background-color: $white-color;
    }

    &__block {
        padding: 20px 0 35px;
        border-bottom: 1px solid #D5D5D5;
        &:last-child {
            border-bottom: 0;
        }

        &-title {
            @extend %text-18;
            font-weight: 500;
            color: #727272;
            margin: 0 0 20px;
        }
    }

    &__footer {
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        display: flex;
        align-items: stretch;

        .il-btn {
            border-radius: 0;
            width: 50%;
            flex-shrink: 0;

            &:first-child {
                border-radius: 0 0 0 10px;
            }

            &:last-child {
                border-radius: 0 0 10px 0;
            }
        }
    }
}
