.main-banner {
    position: relative;
    margin-bottom: 58px;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #121212;
            opacity: 0.5;
        }
    }

    &__content {
        position: relative;
        z-index: 3;
        padding: 149px 0 209px;
        text-align: center;
        @media (max-width: 767px) {
            padding: 120px 0 170px;
        }
        @media (max-width: 575px) {
            text-align: left;
        }
    }

    &__subtitle {
        color: $white-color;
        @extend %text-18;
        text-transform: uppercase;
        margin: 0 0 9px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.22;
        color: $white-color;
        margin: 0 0 47px;
        @media (max-width: 767px) {
            font-size: 40px;
        }
        @media (max-width: 575px) {
            font-size: 32px;
            margin: 0 0 30px;
        }
        @media (max-width: 400px) {
            font-size: 30px;
            margin: 0 0 30px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        background: $white-color;
        border-radius: 10px;
        padding: 18px 22px;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 600px;
        }
        @media (max-width: 575px) {
            padding: 10px 16px 22px 16px;
        }

        &-col {
            margin-right: 30px;
            @media (max-width: 991px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
            @media (max-width: 380px) {
                margin-bottom: 15px;
            }
        }

        &-local {
            flex-grow: 1;
            @media (max-width: 991px) {
                width: 100%;
                margin-right: 0;
            }
        }

        &-date {
            width: 160px;
            flex-shrink: 0;
            @media (max-width: 991px) {
                width: calc(50% - 15px);
            }
            @media (max-width: 575px) {
                width: calc(50% - 8px);
            }
            @media (max-width: 380px) {
                width: 100%;
            }
        }

        &-count {
            width: 160px;
            flex-shrink: 0;
            @media (max-width: 991px) {
                width: calc(50% - 15px);
            }
            @media (max-width: 575px) {
                width: calc(50% - 8px);
            }
            @media (max-width: 380px) {
                width: 100%;
            }
        }

        .il-btn {
            width: 200px;
            flex-shrink: 0;
            @media (max-width: 991px) {
                margin: 0 auto;
                padding: 16px 40px;
            }
        }
    }
}
