.il-modal {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(16, 16, 16, 0.76);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s;
    opacity: 0;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        width: 100%;
        max-width: 1110px;
        height: max-content;
        background-color: $white-color;
    }

    &__video {
        background-color: $white-color;
        position: relative;
        padding-bottom: 66%;
        overflow: hidden;

        video,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin-bottom: 0;
        }
    }
}
