.news-item {
    background: $white-color;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;


    &__header {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        height: 302px;
        position: relative;
        @media (max-width: 1199px) {
            padding-bottom: 85.5%;
            height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__body {
        border-radius: 0 0 10px 10px;
        padding: 13px 15px 0;
        overflow: hidden;
    }

    &__title {
        display: block;
        color: $brand-primary;
        margin: 0 0 10px;
        text-decoration: none;
        transition: all 0.25s;
        @extend %h6;

        &:hover {
            color: $dark-color;
            text-decoration: none;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        @extend %text-14;
        color: $text-light-color;
        margin: 0 0 15px;

        &-icon {
            flex-shrink: 0;
            margin-right: 9px;
            width: 17px;

            img {
                width: 100%;
            }
        }
    }

    &__text {
        font-weight: 300;
        @extend %text-14;
        color: $text-color;
        margin: 0 0 20px;
    }

    &__more {
        display: block;
        text-decoration: none;
        border-radius: 10px 0 10px 0;
        background-color: $brand-primary;
        color: $white-color;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        padding: 15px 26px;
        border: 1px solid $brand-primary;
        transition: all 0.25s;
        width: max-content;
        margin-right: -15px;
        margin-left: auto;
        margin-top: 10px;

        &:hover {
            color: $brand-primary;
            background-color: $white-color;
            text-decoration: none;
        }
    }
}
