.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    $item: &;

    &.pagination_min {
        margin-top: 35px;

        #{$item}__item {
            width: 59px;
            height: 59px;
            font-size: 24px;

            &_prev {
                margin-right: 10px;
            }

            &_next {
                margin-left: 10px;
            }

            &-icon {
                height: 21px;
                width: 11px;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 75px;
        height: 75px;
        flex-shrink: 0;
        border: 1px solid $pagination-border;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: $white-color;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: $pagination-border;
        transition: all 0.25s;
        text-decoration: none;
        cursor: pointer;
        @media (max-width: 767px) {
            width: 49px;
            height: 49px;
            font-size: 18px;
            line-height: 22px;
        }

        &_prev {
            margin-right: 28px;
            @media (max-width: 767px) {
                width: 75px;
                height: 75px;
                margin-right: 8px;
            }
            @media (max-width: 400px) {
                width: 49px;
                height: 49px;
                margin-right: 0;
            }
        }

        &_next {
            margin-left: 28px;
            @media (max-width: 767px) {
                width: 75px;
                height: 75px;
                margin-left: 8px;
            }
            @media (max-width: 400px) {
                width: 49px;
                height: 49px;
                margin-left: 0;
            }
        }

        &:hover {
            color: $white-color;
            background-color: $brand-primary;
            text-decoration: none;

            #{$item}__item-icon {
                svg path {
                    fill: $white-color;
                }
            }
        }

        &.active {
            color: $white-color;
            background-color: $brand-primary;

            #{$item}__item-icon {
                svg path {
                    fill: $white-color;
                }
            }
        }

        &-icon {
            height: 26px;
            width: 14px;

            svg {
                width: 100%;
                height: 100%;
                vertical-align: top;

                path {
                    transition: all 0.25s;
                }
            }
        }
    }
}
