.partners {
    margin-bottom: 60px;
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__list {
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__item {
        height: 50px;
        display: block;
        cursor: pointer;
        @media (max-width: 991px) {
            height: 45px;
        }
        @media (max-width: 767px) {
            height: 50px;
            width: 50%;
            flex-shrink: 0;
            margin-bottom: 50px;
            &:nth-child(odd) {
                display: flex;
                align-items: center;
            }

            &:nth-child(even) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        @media (max-width: 400px) {
            height: 45px;
        }

        img {
            max-height: 100%;
            max-width: 150px;
            @media (max-width: 400px) {
                max-width: 135px;
            }
        }
    }
}
