.excursion {
    align-items: flex-start;
    padding: 30px 0 50px;
    @media (max-width: 991px) {
        padding-top: 0;
    }

    &__wrap {
        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    &__content {
        flex-grow: 1;
        @media (max-width: 991px) {
            width: 100%;
        }

        .tags {
            margin: 0 0 15px;
        }
    }

    &__aside {
        width: 390px;
        flex-shrink: 0;
        margin-left: 25px;
        @media (max-width: 991px) {
            width: 510px;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 15px;
            margin: auto;
            z-index: 15;
        }
        @media (max-width: 575px) {
            width: calc(100% - 30px);
        }
    }

    &__image {
        width: 100%;
        margin: 0 0 30px;
        @media (max-width: 575px) {
            width: 100vw;
            margin: 0 0 18px -15px;
        }

        img {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        color: $brand-primary;
        margin: 0 0 15px;
        @media (max-width: 991px) {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
        }
        @media (max-width: 575px) {
            font-size: 18px;
            margin: 0 0 11px;
        }
    }

    &__info {
        margin-bottom: 15px;
        @media (max-width: 575px) {
            flex-direction: row;
            justify-content: space-between;
        }
        @media (max-width: 400px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start !important;
        }

        .col-sm-6 {
            width: max-content;
        }
    }

    &__language,
    &__duration,
    &__cancellation {
        &-icon {
            display: block;
            flex-shrink: 0;

            img {
                width: 100%;
            }
        }
    }

    &__language {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $text-light-color;
        @media (max-width: 400px) {
            margin-top: 15px;
        }

        &-icon {
            width: 25px;
            margin-right: 5px;
        }
    }

    &__duration {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $text-light-color;
        @media (max-width: 400px) {
            margin-bottom: 15px;
        }

        &-icon {
            width: 17px;
            margin-right: 7px;
        }
    }

    &__cancellation {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $green-color;

        &-icon {
            width: 17px;
            margin-right: 7px;
        }
    }

    &__description {
        margin-top: 30px;
        @media (max-width: 991px) {
            margin-top: 35px;
        }

        .faq__item {
            margin-bottom: 22px;
            border: none;
            border-radius: 0;
            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
            @media (max-width: 575px) {
                margin-bottom: 10px;
            }

            &.active {
                .faq__item-header {
                    color: $brand-primary;
                    @media (max-width: 991px) {
                        background-color: $light-blue-color;
                        border-color: $light-blue-color;
                        position: relative;
                        z-index: 2;
                    }
                }

                .faq__item-body {
                    @media (max-width: 991px) {
                        position: relative;
                        z-index: 1;
                        margin-top: -8px;
                    }
                }

                .faq__item-icon-arrow {
                    svg path {
                        fill: $brand-primary
                    }
                }
            }

            &-header {
                border-radius: 0;
                border-bottom: 1px solid #858585;
                padding: 0 20px 20px 0;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: #858585;

                @media (max-width: 991px) {
                    border: 1px solid #CCCCCC;
                    box-sizing: border-box;
                    border-radius: 10px;
                    font-size: 20px;
                    line-height: 22px;
                    padding: 26px;
                }

                @media (max-width: 575px) {
                    font-size: 18px;
                }

                @media (max-width: 400px) {
                    padding: 20px 10px;
                }
            }

            &-icon-arrow {
                @media (max-width: 991px) {
                    width: 20px;
                    height: 10px;
                    margin: 0;
                }

                svg {
                    vertical-align: top;
                    @media (max-width: 991px) {
                        width: 20px;
                        height: 10px;
                    }

                    path {
                        fill: #858585;
                        transition: all 0.25s;
                    }
                }
            }

            &-body {
                padding: 30px 0 8px;
                @media (max-width: 991px) {
                    padding: 30px 26px 35px;
                    border: 1px solid #CCCCCC;
                    border-top: 0;
                    box-sizing: border-box;
                    border-radius: 0 0 10px 10px;
                }

                @media (max-width: 400px) {
                    padding: 20px 10px 25px;
                }

                h5 {
                    @extend %h5;
                    font-weight: 400;
                    color: $brand-primary;
                    margin: 0 0 17px;
                }

                p {
                    @extend %text-14;
                    font-weight: 300;
                    color: $text-color;
                    margin: 0 0 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
