.promotional {
    background-color: $brand-primary;
    padding: 50px 0;
    @media (max-width: 767px) {
        padding: 38px 0 45px;
    }

    &__wrap {
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }

    &__title {
        color: $white-color;
        width: 380px;
        flex-shrink: 0;
        @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            margin-bottom: 36px;
        }

        &-main {
            margin: 0 0 10px;
            @media (max-width: 400px) {
                font-size: 20px;
                line-height: 25px;
            }
        }

        &-sub {
            @extend %text-16;
            margin: 0 0;
        }
    }

    &__form {
        flex-grow: 1;

       .custom-form-group {
           @media (max-width: 575px) {
               margin-bottom: 22px;
           }

           input {
               @media (max-width: 575px) {
                   text-align: center;
                   padding-left: 20px;
                   padding-right: 20px;
               }
           }
       }
    }

    .il-bnt {
        .icon {
            width: 22px;
            svg {
                width: 100%;
            }
        }

        &:hover {
            .icon {
                svg {
                    path {
                        fill: $white-color;
                    }
                }
            }
        }
    }
}

.custom-form-group {
    margin: 0;

    input {
        display: block;
        border: 1px solid #4A84C2;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 26px 38px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        transition: all 0.25s;
        color: $white-color;
        background-color: transparent;
        width: 100%;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            border-color: $white-color;
        }

        &::placeholder {
            color: #538FCE
        }
    }
}
