.top-head {
    position: relative;
    padding: 139px 0 214px;
    @media (max-width: 575px) {
        padding: 0;
        margin: 0 0 25px;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        @media (max-width: 575px) {
            height: 466px;
            position: relative;
            margin-bottom: 25px;
        }

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: $black-color;
            opacity: 0.5;
            @media (max-width: 575px) {
                display: none;
            }
        }
    }

    &__wrap {
        position: relative;
        z-index: 2;
    }

    &__title {
        color: $white-color;
        margin: 0 0 15px;
        @media (max-width: 991px) {
            font-size: 50px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
        }
        @media (max-width: 575px) {
            color: $brand-primary;
            margin: 0 0 25px;
            font-size: 24px;
            line-height: 29px;
        }
    }
}


.tags {
    flex-wrap: wrap;
    margin-bottom: -5px;

    &__item {
        margin-right: 10px;
        height: 30px;
        background: $light-blue-color;
        border-radius: 10px;
        @extend %text-16;
        color: $brand-primary;
        display: block;
        padding: 5px 13px 5px 16px;
        margin-bottom: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    a.tags__item {
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;
            background-color: $brand-primary;
            color: $white-color;
        }
    }
}
