.main-video {
    margin: 0 0 60px;
    @media (max-width: 767px) {
        margin: 0 0 40px;
    }

    &__title {
        text-align: center;
        margin: 0 0 22px;
        @media (max-width: 575px) {
            text-align: left;
            margin: 0 0 30px;
        }
    }

    &__wrap {
        margin: 0 auto;
        width: 100%;
        max-width: 944px;
        @media (max-width: 575px) {
            width: 100vw;
            margin-left: -15px;
        }
    }

    &__body {
        position: relative;
        padding-bottom: 58.7%;
        background: #C4C4C4;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 575px) {
            padding-bottom: 92%;
            border-radius: 0;
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;

            img, video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #131313;
                opacity: 0.45;
            }
        }

        &-play {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 70px;
            height: 70px;
            cursor: pointer;
            transition: all 0.4s;

            img {
                width: 100%;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
