@import "variables";

%h {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    font-weight: 700;

    &:first-child {
        padding-top: 0;
    }
}

%h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.2;
}
%h2 {
    font-weight: normal;
    font-size: 36px;
    line-height: 1.22;
    @media (max-width: 991px) {
        font-size: 32px;
    }
    @media (max-width: 767px) {
        font-size: 28px;
    }
    @media (max-width: 575px) {
        font-size: 24px;
    }
}
%h3 {
    font-size: 30px;
    line-height: 1.22;
}
%h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
%h5 {
    font-size: 18px;
    line-height: 22px;
}
%h6 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

%text-18 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

%text-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

%text-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
