@import "variables";

.footer {
    background-color: $dark-color;

    &__main {
        padding: 39px 0 30px;
        @media (max-width: 991px) {
            padding-bottom: 0;
        }
    }

    &__title {
        color: $white-color;
        margin-bottom: 15px;
        font-weight: 400;
    }

    &__menu-col {
        @media (max-width: 991px) {
            margin-bottom: 30px;
        }
        @media (max-width: 575px) {
            padding-bottom: 30px;
            border-bottom: 1px solid #3D3D3D;
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            &>a {
                font-weight: 300;
                font-size: 18px;
                line-height: 2;
                display: block;
                color: $white-color;
                transition: all 0.25s;
                position: relative;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    color: $white-color;
                }
            }
        }
    }

    &__info {
        border-top: 1px solid $border-color;
        padding: 35px 0;
        @media (max-width: 991px) {
            padding: 35px 0 0;
            position: relative;
        }

        @media (max-width: 575px) {
            border-top: none;
            position: relative;

            &:after {
                content: '';
                display: block;
                top: 0;
                left: -15px;
                position: absolute;
                width: 100vw;
                height: 0;
                border-top: 1px solid $border-color;
            }
        }

        &-title {
            color: $white-color;
            margin: 0 0 30px;
            font-weight: 600;
            @media (max-width: 991px) {
                text-align: center;
            }
        }

        &-col {
            @media (max-width: 575px) {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    bottom: 24px;
                    left: 0;
                    position: absolute;
                    width: 100vw;
                    height: 0;
                    border-top: 1px solid $border-color;
                }
            }
        }
    }


    &__bottom {
        padding: 22px 0 28px;
        border-top: 1px solid $border-color;
        position: relative;
        @media (max-width: 767px) {
            padding: 13px 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (max-width: 575px) {
            border-top: none;
            position: relative;

            &:after {
                content: '';
                display: block;
                top: 0;
                left: -15px;
                position: absolute;
                width: 100vw;
                height: 0;
                border-top: 1px solid $border-color;
            }
        }

        a {
            @extend %text-14;
            text-decoration: none;
            color: $text-gray-color;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $white-color;
            }
        }

        p {
            display: block;
            width: max-content;
            @extend %text-14;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            top: 22px;
            color: $text-gray-color;
            margin-bottom: 0;
            @media (max-width: 767px) {
                position: relative;
                top: 0;
                left: auto;
                margin-right: 0;
            }
        }
    }
}

.payment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
    @media (max-width: 1199px) {
        padding-right: 30px;
    }
    @media (max-width: 991px) {
        padding-right: 0;
        max-width: 600px;
        margin: 0 auto 40px;
    }
    @media (max-width: 575px) {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 360px;
        margin: 0 auto 23px;
        position: relative;
    }

    &__item {
        max-height: 37px;
        max-width: 70px;
        @media (max-width: 575px) {
            margin: 0 13px 30px;
        }
        svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.soc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) {
        max-width: 500px;
        margin: 0 auto 23px;
    }
    @media (max-width: 575px) {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto 0;
        position: relative;
    }

    &__item {
        display: block;
        margin-right: 15px;
        @media (max-width: 575px) {
            margin: 0 15px 30px;
            width: 36px;
            display: flex;
            justify-content: center;
        }
        &:last-child {
            margin-right: 0;
        }

        svg {
            height: 26px;
            path {
                transition: all 0.25s;
            }
        }

        &:hover {
            svg {
                height: 26px;
                path {
                    fill: $white-color;
                }
            }
        }
    }
}
