@import "variables";

body {
    font-family: $font-family-montserrat;
}

.modal-open {
    overflow: hidden;
}

.review {
    display: flex;
    align-items: center;
    @extend %text-14;
    font-weight: 500;
    color: $text-light-color;

    &__item {
        display: block;
        margin-right: 4px;
        width: 18px;

        svg {
            width: 100%;
        }
    }

    &__text {
        margin-left: 5px;
        align-self: flex-end;
    }
}

.il-btn {
    border: none;
    border-radius: 0;
    text-decoration: none;
    cursor: pointer;
    display: block;
    width: max-content;
    text-align: center;
    transition: all 0.25s;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.il-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %text-18;
    box-sizing: border-box;
    border-radius: 10px;

    .icon {
        display: block;
        flex-shrink: 0;
        margin-right: 10px;

        svg {
            path {
                transition: all 0.25s;
            }
        }
    }

    &.il-btn-border {
        .icon {
            svg {
                path {
                    fill: $brand-primary;
                }
            }
        }
    }

    &.il-btn-white {
        .icon {
            svg {
                path {
                    fill: $brand-primary;
                }
            }
        }
    }
}

.il-btn-border {
    @extend %text-18;
    border: 1px solid $brand-primary;
    box-sizing: border-box;
    border-radius: 10px;
    color: $brand-primary;
    padding: 25px 40px;

    &:hover {
        background-color: $brand-primary;
        color: $white-color;

        .icon {
            svg {
                path {
                    fill: $white-color;
                }
            }
        }
    }
}

.il-btn-main {
    @extend %text-18;
    border: 1px solid $brand-primary;
    box-sizing: border-box;
    border-radius: 10px;
    color: $white-color;
    background-color: $brand-primary;
    padding: 25px 40px;

    &:hover {
        background-color: $brand-primary;
        color: $white-color;
    }
}


.il-btn-white {
    @extend %text-18;
    border: 1px solid $white-color;
    background-color: $white-color;
    box-sizing: border-box;
    border-radius: 10px;
    color: $brand-primary;
    padding: 25px 40px;

    &:hover {
        background-color: $brand-primary;
        color: $white-color;
    }
}


.il-btn-gray {
    @extend %text-18;
    border: 1px solid #DCDCDC;
    background-color: #DCDCDC;
    box-sizing: border-box;
    border-radius: 10px;
    color: #585858;
    padding: 25px 40px;

    &:hover {
        background-color: $text-gray-color;
        border-color: $text-gray-color;
        color: $white-color;
    }
}


.form-check {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    input {
        display: none;
    }

    &__label {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #252525;
        cursor: pointer;
        position: relative;
        padding-left: 30px;

        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            box-sizing: border-box;
            border-radius: 3px;
        }

        &:before {
            top: -1px;
            left: 0;
            border: 1px solid #C6C6C6;
            background-color: $white-color;
        }

        .label-count {
            flex-shrink: 0;
            margin-left: 5px;
            color: #8E8E8E;
        }
    }

    input:checked + label {
        color: $brand-primary;
    }

    input:checked + label:before {
        border-color: $brand-primary;
        background-color: $brand-primary;
    }
}

.custom-select {
    .select2-container {
        .select2-selection--single {
            position: relative;
            height: auto;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid $text-light-color;
            padding: 16px 10px 16px 25px;

            .select2-selection__rendered {
                padding: 0;
                text-align: left;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                position: relative;
            }

            .select2-selection__arrow {
                height: 100%;
                width: 7px;
                top: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size: 7px;
                background-position: center;
                background-image: url("../img/icons/select-arrow.svg");
            }

            &.custom-select-local {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 25px;
                    background-repeat: no-repeat;
                    background-size: 15px 20px;
                    background-position: center left;
                    background-image: url("../img/icons/icon-local.svg");
                }
            }

            &.custom-select-count {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 25px;
                    background-repeat: no-repeat;
                    background-size: 18px 14px;
                    background-position: center left;
                    background-image: url("../img/icons/icon-people.svg");
                }
            }
        }
    }
}

.select-sort {
}

.form-datepicker {
    position: relative;

    &:after, &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
    }

    &:before {
        width: 25px;
        left: 0;
        background-repeat: no-repeat;
        background-size: 17px 17px;
        background-position: center left;
        background-image: url("../img/icons/icon-calendar.svg");
    }

    &:after {
        width: 10px;
        right: 0;
        background-repeat: no-repeat;
        background-size: 7px;
        background-position: center right;
        background-image: url("../img/icons/select-arrow.svg");
    }

    input {
        height: auto;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $text-light-color;
        padding: 16px 10px 16px 25px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;

        &::placeholder {
            color: $text-light-color;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }
}

.custom-range-slider {
    width: 100%;
    margin-top: 40px;

    .slider {
        width: 100%;

        &-track {
            width: 100%;
            height: 5px !important;
            background: #EAEAEA;
            border-radius: 15px;
            box-shadow: none;
        }

        &-selection {
            background-color: $brand-primary;
            background-image: none;
            box-shadow: none;
        }

        &-handle {
            width: 18px;
            height: 33px;
            border-radius: 0;
            background-image: url("../img/icons/handle.svg");
            background-position: center;
            background-color: transparent;
            box-shadow: none;
            background-repeat: no-repeat;
            background-size: contain;
            top: -10px;
        }
    }

    .tooltip-main {
        display: none;
    }

    .tooltip-max,
    .tooltip-min {
        display: block !important;
        opacity: 1;
        visibility: visible;
        padding: 0;
        top: 15px;

        .tooltip-inner {
            background-color: transparent;
            color: $brand-primary;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            font-family: $font-family-montserrat;
            padding: 0;
        }

        .arrow {
            display: none;
        }
    }
}

.check-btn {
    input {
        display: none;
    }

    label {
        display: block;
        text-align: center;
        width: 100%;
        background: $white-color;
        border: 1px solid $brand-primary;
        box-sizing: border-box;
        border-radius: 10px;
        transition: all 0.25s;
        text-decoration: none;
        cursor: pointer;
        @extend %text-14;
        padding: 20px 15px;
        color: $brand-primary;

        &:hover {
            background-color: $brand-primary;
            color: $white-color;
        }
    }

    input:checked + label {
        background-color: $brand-primary;
        color: $white-color;
    }
}
