@import "variables";

.header {
    background-color: $brand-primary;
    display: flex;
    align-items: center;

    &__wrap {
        height: 75px;
        position: relative;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

    &__burger {
        display: block;
        cursor: pointer;
        width: 29px;

        svg {
            width: 100%;
            vertical-align: top;
        }
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 82px;

        img {
            width: 100%;
        }
    }

    &__right-menu {
        align-items: center;
    }

    &__lang {
        width: 120px;
        @media (max-width: 767px) {
            display: none;
        }

        .select2-container {
            &.select2-container--open {
                .select2-selection--single {
                    .select2-selection__arrow {
                        b {
                            border-color: transparent transparent $white-color;
                        }
                    }
                }
            }

            .select2-selection--single {
                width: 120px;
                position: relative;
                height: auto;
                border: none;
                padding: 0 15px 0 0;
                box-sizing: border-box;
                border-radius: 0;
                background-color: transparent;

                .select2-selection__rendered {
                    padding: 0;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    position: relative;
                    color: $white-color;
                }

                .select2-selection__arrow {
                    display: block;
                    height: auto;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;

                    b {
                        border-color: $white-color transparent transparent;
                    }
                }

                .select2-selection__placeholder {
                    font-size: 14px;
                    line-height: 17px;
                    color: $white-color;
                }
            }
        }
    }

    &__link-icon {
        display: block;
        flex-shrink: 0;
        cursor: pointer;
        margin-left: 40px;
        @media (max-width: 575px) {
            margin-left: 25px;
        }

        &.link_country {
            height: 30px;
        }

        &.link_basket {
            height: 27px;
        }

        svg {
            height: 100%;
            vertical-align: top;
        }
    }

    &__nav {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $brand-primary;
        z-index: 10;
        transition: all 0.25s;
        opacity: 0;
        visibility: hidden;
        padding-top: 120px;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;

        &-item {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            &.active {
                & > a {
                    &:after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }

            & > a {
                font-size: 26px;
                line-height: 1.2;
                display: block;
                width: max-content;
                color: $white-color;
                text-decoration: none;
                position: relative;
                @media (max-width: 991px) {
                    font-size: 22px;
                }
                @media (max-width: 575px) {
                    font-size: 20px;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    transition: all 0.35s;
                    opacity: 0;
                    border-bottom: 1px solid $white-color;
                }

                &:hover {
                    text-decoration: none;
                    color: $white-color;

                    &:after {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.select-lang {
    .select2-results {
        &__options {}
        &__option {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $border-color
        }
    }
}
