</main>

<footer class="footer">
    <div class="container">
        <div class="footer__main">
            <div class="row justify-content-center">
                <div class="col-xl-11">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 footer__menu-col">
                            <h4 class="footer__title">Il Mio Viaggio</h4>
                            <ul class="footer__menu">
                                <li class="footer__menu-item">
                                    <a href="#" title="About us">About us</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Press">Press</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Sustainability">Sustainability</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Gift">Gift</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-sm-6 footer__menu-col">
                            <h4 class="footer__title">Inspiration</h4>
                            <ul class="footer__menu">
                                <li class="footer__menu-item">
                                    <a href="#" title="Destinations">Destinations</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="News">News</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Travel guides">Travel guides</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-sm-6 footer__menu-col">
                            <h4 class="footer__title">Work whith us</h4>
                            <ul class="footer__menu">
                                <li class="footer__menu-item">
                                    <a href="#" title="Suppliers">Suppliers</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Affiliates">Affiliates</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Travel agencies">Travel agencies</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Accommodation">Accommodation</a>
                                </li>
                                <li class="footer__menu-item">
                                    <a href="#" title="Careers">Careers</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-sm-6 footer__menu-col">
                            <h4 class="footer__title">Help</h4>
                            <ul class="footer__menu">
                                <li class="footer__menu-item">
                                    <a href="#" title="Contact us">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__info">
            <div class="row">
                <div class="col-lg-7 footer__info-col">
                    <h5 class="footer__info-title">Payment methods</h5>
                    <div class="d-flex payment">
                        <div class="payment__item">
                            <img src="assets/img/visa-icon.svg" alt="logo">
                        </div>
                        <div class="payment__item">
                            <img src="assets/img/master-icon.svg" alt="logo">
                        </div>
                        <div class="payment__item">
                            <img src="assets/img/paypal-icon.svg" alt="logo">
                        </div>
                        <div class="payment__item">
                            <img src="assets/img/diners-icon.svg" alt="logo">
                        </div>
                        <div class="payment__item">
                            <img src="assets/img/discover-icon.svg" alt="logo">
                        </div>
                        <div class="payment__item">
                            <img src="assets/img/applepay-icon.svg" alt="logo">
                        </div>
                        <div class="payment__item">
                            <img src="assets/img/googlepay-icon.svg" alt="logo">
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <h5 class="footer__info-title">Follow us</h5>
                    <div class="d-flex soc">
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-facebook.html")
                        </a>
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-twitter.html")
                        </a>
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-linkedin.html")
                        </a>
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-instagram.html")
                        </a>
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-pinterest.html")
                        </a>
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-tiktok.html")
                        </a>
                        <a href="#" class="soc__item" title="">
                            @@include("./../icons/icon-youtube.html")
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <a href="#" title="Privacy policy">Privacy policy</a>
            <p>Copyright 2022</p>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js" integrity="sha512-tCkLWlSXiiMsUaDl5+8bqwpGXXh0zZsgzX6pB9IQCZH+8iwXRYfcCpdxl/owoM6U4ap7QZDW4kw7djQUiQ4G2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="assets/js/script.js"></script>


@@if(context.js){
@@for (var i = 0; i < js.length; i++) {
<script src="`+js[i]+`"></script>
}
}

</body>

</html>
