<svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M28.0938 1.81818H0.90625C0.665898 1.81818 0.435389 1.7224 0.265435 1.55192C0.0954797 1.38143 0 1.1502 0 0.909091C0 0.667985 0.0954797 0.436754 0.265435 0.266267C0.435389 0.0957791 0.665898 0 0.90625 0H28.0938C28.3341 0 28.5646 0.0957791 28.7346 0.266267C28.9045 0.436754 29 0.667985 29 0.909091C29 1.1502 28.9045 1.38143 28.7346 1.55192C28.5646 1.7224 28.3341 1.81818 28.0938 1.81818Z" fill="white"/>
    <path d="M28.0938 10.9091H0.90625C0.665898 10.9091 0.435389 10.8133 0.265435 10.6428C0.0954797 10.4723 0 10.2411 0 10C0 9.75889 0.0954797 9.52766 0.265435 9.35717C0.435389 9.18669 0.665898 9.09091 0.90625 9.09091H28.0938C28.3341 9.09091 28.5646 9.18669 28.7346 9.35717C28.9045 9.52766 29 9.75889 29 10C29 10.2411 28.9045 10.4723 28.7346 10.6428C28.5646 10.8133 28.3341 10.9091 28.0938 10.9091Z" fill="white"/>
    <path d="M28.0938 20H0.90625C0.665898 20 0.435389 19.9042 0.265435 19.7337C0.0954797 19.5632 0 19.332 0 19.0909C0 18.8498 0.0954797 18.6186 0.265435 18.4481C0.435389 18.2776 0.665898 18.1818 0.90625 18.1818H28.0938C28.3341 18.1818 28.5646 18.2776 28.7346 18.4481C28.9045 18.6186 29 18.8498 29 19.0909C29 19.332 28.9045 19.5632 28.7346 19.7337C28.5646 19.9042 28.3341 20 28.0938 20Z" fill="white"/>
</svg>
