<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M25 25V15.8438C25 11.3438 24.0312 7.90625 18.7812 7.90625C16.25 7.90625 14.5625 9.28125 13.875 10.5938H13.8125V8.3125H8.84375V25H14.0312V16.7188C14.0312 14.5312 14.4375 12.4375 17.125 12.4375C19.7813 12.4375 19.8125 14.9062 19.8125 16.8438V24.9688H25V25Z" fill="#6E6E6E"/>
    <path d="M0.40625 8.3125H5.59375V25H0.40625V8.3125Z" fill="#6E6E6E"/>
    <path d="M3 0C1.34375 0 0 1.34375 0 3C0 4.65625 1.34375 6.03125 3 6.03125C4.65625 6.03125 6 4.65625 6 3C6 1.34375 4.65625 0 3 0Z" fill="#6E6E6E"/>
</svg>
