<svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.32094 2.21258L3.18202 0.170917C2.94369 -0.0568748 2.55624 -0.0568748 2.3179 0.170917L0.178982 2.21258C-0.0596606 2.44038 -0.0596606 2.80962 0.178982 3.03742C0.417318 3.26521 0.804768 3.26521 1.0431 3.03742L2.13884 1.9915V13.4167C2.13884 13.7387 2.41262 14 2.74996 14C3.0873 14 3.36108 13.7387 3.36108 13.4167V1.9915L4.45682 3.03742C4.57599 3.15146 4.73243 3.20833 4.88888 3.20833C5.04533 3.20833 5.20177 3.15146 5.32094 3.03742C5.55958 2.80962 5.55958 2.44038 5.32094 2.21258Z" fill="#0C498A"/>
    <path d="M10.821 10.9626C10.5824 10.7348 10.1955 10.7348 9.95689 10.9626L8.86116 12.0085V0.583333C8.86116 0.261333 8.58738 0 8.25004 0C7.9127 0 7.63892 0.261333 7.63892 0.583333V12.0085L6.54318 10.9626C6.30454 10.7348 5.91739 10.7348 5.67906 10.9626C5.44041 11.1904 5.44041 11.5596 5.67906 11.7874L7.81798 13.8291C7.93745 13.9431 8.09359 14 8.25004 14C8.40648 14 8.56262 13.9431 8.6821 13.8291L10.821 11.7874C11.0597 11.5596 11.0597 11.1904 10.821 10.9626Z" fill="#0C498A"/>
</svg>
