<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6.14152 9.37879C6.14152 9.16584 5.96487 8.99332 5.74691 8.99332H4.36986C4.15215 8.99332 3.97546 9.16584 3.97546 9.37879V10.7251C3.97546 10.9384 4.15215 11.111 4.36986 11.111H5.74691C5.96487 11.111 6.14152 10.9384 6.14152 10.7251V9.37879Z" fill="#8B8B8B"/>
    <path d="M9.58294 9.37879C9.58294 9.16584 9.40625 8.99332 9.18872 8.99332H7.8115C7.59378 8.99332 7.4171 9.16584 7.4171 9.37879V10.7251C7.4171 10.9384 7.59378 11.111 7.8115 11.111H9.18872C9.40625 11.111 9.58294 10.9384 9.58294 10.7251V9.37879Z" fill="#8B8B8B"/>
    <path d="M13.0245 9.37879C13.0245 9.16584 12.8479 8.99332 12.6301 8.99332H11.2531C11.0351 8.99332 10.8585 9.16584 10.8585 9.37879V10.7251C10.8585 10.9384 11.0351 11.111 11.2531 11.111H12.6301C12.8479 11.111 13.0245 10.9384 13.0245 10.7251V9.37879Z" fill="#8B8B8B"/>
    <path d="M6.14152 12.7443C6.14152 12.531 5.96487 12.3586 5.74691 12.3586H4.36986C4.15215 12.3586 3.97546 12.531 3.97546 12.7443V14.0904C3.97546 14.3035 4.15215 14.476 4.36986 14.476H5.74691C5.96487 14.476 6.14152 14.3034 6.14152 14.0904V12.7443Z" fill="#8B8B8B"/>
    <path d="M9.58294 12.7443C9.58294 12.531 9.40625 12.3586 9.18872 12.3586H7.8115C7.59378 12.3586 7.4171 12.531 7.4171 12.7443V14.0904C7.4171 14.3035 7.59378 14.476 7.8115 14.476H9.18872C9.40625 14.476 9.58294 14.3034 9.58294 14.0904V12.7443Z" fill="#8B8B8B"/>
    <path d="M13.0245 12.7443C13.0245 12.531 12.8479 12.3586 12.6303 12.3586H11.2531C11.0351 12.3586 10.8585 12.531 10.8585 12.7443V14.0904C10.8585 14.3035 11.0351 14.476 11.2531 14.476H12.6303C12.8479 14.476 13.0245 14.3034 13.0245 14.0904V12.7443Z" fill="#8B8B8B"/>
    <path d="M15.4868 1.89289V3.94931C15.4868 4.87879 14.7157 5.62781 13.7653 5.62781H12.6793C11.7288 5.62781 10.9474 4.87879 10.9474 3.94931V1.8855H6.05255V3.94931C6.05255 4.87879 5.27124 5.62781 4.32089 5.62781H3.23468C2.2843 5.62781 1.5132 4.87879 1.5132 3.94931V1.89289C0.682557 1.91737 0 2.58946 0 3.41555V15.4672C0 16.3088 0.697622 17 1.55832 17H15.4417C16.3011 17 17 16.3074 17 15.4672V3.41555C17 2.58946 16.3175 1.91737 15.4868 1.89289ZM14.9824 14.7167C14.9824 15.0804 14.6808 15.3755 14.3087 15.3755H2.6616C2.2895 15.3755 1.98791 15.0804 1.98791 14.7167V8.49159C1.98791 8.12774 2.28946 7.83266 2.6616 7.83266H14.3087C14.6808 7.83266 14.9824 8.12774 14.9824 8.49159L14.9824 14.7167Z" fill="#8B8B8B"/>
    <path d="M3.23087 4.52535H4.30508C4.63113 4.52535 4.8955 4.26723 4.8955 3.94841V0.577157C4.8955 0.258298 4.63113 0 4.30508 0H3.23087C2.90478 0 2.64044 0.258298 2.64044 0.577157V3.94841C2.64044 4.26723 2.90478 4.52535 3.23087 4.52535Z" fill="#8B8B8B"/>
    <path d="M12.6655 4.52535H13.7397C14.0655 4.52535 14.3299 4.26723 14.3299 3.94841V0.577157C14.3299 0.258298 14.0656 0 13.7397 0H12.6655C12.3394 0 12.0751 0.258298 12.0751 0.577157V3.94841C12.0751 4.26723 12.3394 4.52535 12.6655 4.52535Z" fill="#8B8B8B"/>
</svg>
