<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.02085 16.0805V20.3152C8.02085 20.611 8.21151 20.8731 8.49385 20.9662C8.56443 20.989 8.63685 21 8.70835 21C8.92285 21 9.13001 20.8996 9.26201 20.7206L11.7489 17.3497L8.02085 16.0805Z" fill="#0C498A"/>
    <path d="M21.7112 0.126993C21.5004 -0.0218321 21.2236 -0.0419189 20.9944 0.0776893L0.369456 10.8059C0.125624 10.9328 -0.0182925 11.1921 0.0018741 11.4651C0.0229574 11.739 0.205373 11.9728 0.464789 12.0613L6.19852 14.0134L18.4094 3.61389L8.96043 14.9529L18.5698 18.2244C18.6413 18.2481 18.7165 18.2609 18.7916 18.2609C18.9163 18.2609 19.0401 18.2271 19.1491 18.1614C19.3233 18.0554 19.4416 17.8774 19.4718 17.6774L21.9926 0.786208C22.0302 0.530557 21.9221 0.276732 21.7112 0.126993Z" fill="#0C498A"/>
</svg>
