<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M18.962 0H7.03796C3.15717 0 0 3.15717 0 7.03796V18.9622C0 22.8428 3.15717 26 7.03796 26H18.9622C22.8428 26 26 22.8428 26 18.9622V7.03796C26 3.15717 22.8428 0 18.962 0ZM13 20.1092C9.07993 20.1092 5.89082 16.9201 5.89082 13C5.89082 9.07993 9.07993 5.89082 13 5.89082C16.9201 5.89082 20.1092 9.07993 20.1092 13C20.1092 16.9201 16.9201 20.1092 13 20.1092ZM20.2792 7.5674C19.1207 7.5674 18.1785 6.62517 18.1785 5.46672C18.1785 4.30827 19.1207 3.36584 20.2792 3.36584C21.4376 3.36584 22.3801 4.30827 22.3801 5.46672C22.3801 6.62517 21.4376 7.5674 20.2792 7.5674Z" fill="#6E6E6E"/>
    <path d="M13 7.41505C9.92059 7.41505 7.41505 9.92039 7.41505 13C7.41505 16.0794 9.92059 18.5849 13 18.5849C16.0796 18.5849 18.5849 16.0794 18.5849 13C18.5849 9.92039 16.0796 7.41505 13 7.41505Z" fill="#6E6E6E"/>
    <path d="M20.2792 4.89027C19.9614 4.89027 19.7027 5.14894 19.7027 5.46672C19.7027 5.7845 19.9614 6.04317 20.2792 6.04317C20.5972 6.04317 20.8558 5.7847 20.8558 5.46672C20.8558 5.14874 20.5972 4.89027 20.2792 4.89027Z" fill="#6E6E6E"/>
</svg>
