<a href="item-page.html" title="@@title" class="activities-item">
    <div class="activities-item__image">
        @@if(context.image){
        <img src="@@image" alt="image">
        }
    </div>
    <div class="activities-item__body">
        @@if(context.title){
        <h3 title="@@title" class="activities-item__title">@@title</h3>
        }

        <div class="review">
            <span class="review__item">
                @@include("./../icons/star-icon.html")
            </span>
            <span class="review__item">
                @@include("./../icons/star-icon.html")
            </span>
            <span class="review__item">
                @@include("./../icons/star-icon.html")
            </span>
            <span class="review__item">
                @@include("./../icons/star-icon.html")
            </span>
            <span class="review__item">
                @@include("./../icons/star-icon.html")
            </span>
            <span class="review__text">420 reviews </span>
        </div>

        @@if(context.text){
        <p class="activities-item__text">@@text</p>
        }

        @@if(context.price){
        <div class="activities-item__price">@@price</div>
        }
    </div>
</a>
