<div class="aside-date">
    <div class="aside-date__fix">
        <div class="aside-date__fix-price">
            ~€ 15
        </div>
        <div class="aside-date__fix-btn js-choose-date">
            Choose date & booking
        </div>
    </div>

    <div class="aside-date__header">
        Choose date & book
    </div>
    <div class="aside-date__body">
        <div class="aside-date__calendar">
            <input class="aside-datepicker">
        </div>

        <div class="aside-date__form">
            <div class="row mx-n2">
                <div class="col-6 px-2">
                    <div class="form-datepicker">
                        <input class="datepicker" placeholder="Choose date">
                    </div>
                </div>

                <div class="col-6 px-2">
                    <div class="custom-select">
                        <select class="select-count" style="width: 100%" data-placeholder="For how many?">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex aside-date__footer">
            <div class="aside-date__total">€ 15</div>
            <button class="il-btn il-btn-main">Booking</button>
        </div>
    </div>
</div>
