<div class="aside-images">
    <div class="aside-images__item">
        <img src="assets/img/aside-p-1.jpg" alt="image">
    </div>
    <div class="aside-images__item">
        <img src="assets/img/aside-p-2.jpg" alt="image">
    </div>

    <div class="pagination pagination_min">
        <a href="#" class="pagination__item pagination__item_prev">
            <span class="pagination__item-icon">
            @@include("./../icons/pagination-prev.html")
        </span>
        </a>
        <a href="#" class="pagination__item active">1</a>
        <a href="#" class="pagination__item">2</a>
        <a href="#" class="pagination__item">3</a>
        <a href="#" class="pagination__item pagination__item_next">
            <span class="pagination__item-icon">
            @@include("./../icons/pagination-next.html")
        </span>
        </a>
    </div>
</div>
