<div class="destination">
    <div class="container">
        @@if(context.title) {
        <h2 class="destination__title">@@title</h2>
        }

        @@if(context.items) {
        <div class="destination__list">
            <div class="row mx-n2 mx-sm-n3">
                @@for (var i = 0; i < items.length; i++) {
                <div class="col-lg-3 col-6 px-2 px-sm-3">
                    <a href="#" class="destination__item">
                        <div class="destination__item-image">
                            <img src="`+items[i].image+`" alt="image">
                        </div>

                        <h4 class="destination__item-title">`+items[i].destination+`</h4>
                    </a>
                </div>
                }
            </div>
        </div>
        }

        <div class="row justify-content-end">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <a href="#" class="il-btn il-btn-border w-100" title="Show more">Show more</a>
            </div>
        </div>
    </div>
</div>
