<div class="block-news">
    <div class="container">
        @@if(context.title){
        <h2 class="block-news__title">@@title</h2>
        }

        <div class="block-news__wrap">
            <div class="swiper news-slider">
                <div class="swiper-wrapper">
                    @@for (var i = 0; i < 5; i++) {
                    <div class="swiper-slide">
                        @@include("./../blocks/news-item.html", {
                        "image": "assets/img/news-image.jpg",
                        "title": "Dinner Cruise on the Seine",
                        "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, the Louvre, the Siene and Notre Dame.",
                        "date": "02/02/22",
                        })
                    </div>
                    }
                </div>
            </div>

            <div class="swiper-button-prev news-slider-prev">
                @@include("./../icons/pagination-prev.html")
            </div>
            <div class="swiper-button-next news-slider-next">
                @@include("./../icons/pagination-next.html")
            </div>
        </div>

        <div class="row justify-content-end">
            <div class="col-lg-4 col-md-5 col-sm-6">
                <a href="#" class="il-btn il-btn-border w-100" title="Show all news">Show all news</a>
            </div>
        </div>
    </div>
</div>
