<div class="block-popular">
    <div class="container">
        @@if(context.title) {
        <h2 class="block-popular__title">@@title</h2>
        }

        <div class="row">
            @@for (var i = 0; i < 2; i++) {
            <div class="col-lg-4 col-sm-6 mb-md-5 mb-4">
                @@include("./../blocks/activities-item.html", {
                "image": "assets/img/activities-1.jpg",
                "title": "Dinner Cruise on the Seine",
                "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                "price": "€ 15",
                })
            </div>

            <div class="col-lg-4 col-sm-6 mb-md-5 mb-4">
                @@include("./../blocks/activities-item.html", {
                "image": "assets/img/activities-2.jpg",
                "title": "Dinner Cruise on the Seine",
                "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                "price": "€ 15",
                })
            </div>

            <div class="col-lg-4 col-sm-6 mb-md-5 mb-4">
                @@include("./../blocks/activities-item.html", {
                "image": "assets/img/activities-3.jpg",
                "title": "Dinner Cruise on the Seine",
                "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                "price": "€ 15",
                })
            </div>
            }
        </div>

        <div class="row justify-content-end">
            <div class="col-lg-4 col-md-5 col-sm-6 mt-md-0 mt-1">
                <a href="#" class="il-btn il-btn-border w-100" title="Show all">Show all</a>
            </div>
        </div>
    </div>
</div>
