<div class="catalog">
    <div class="container">
        <div class="d-flex catalog__wrap">
            <div class="catalog__filter">
                @@include("./../blocks/filter.html")
            </div>


            <div class="catalog__content">
                <div class="d-flex catalog__content-top">
                    <p>We find 89 results</p>
                    <div class="d-flex align-items-center catalog__content-top-btns">
                        <a href="#" class="il-btn il-btn-icon il-btn-border js-modal" data-modal-id="modal-map" title="Map">
                            <span class="icon">
                                @@include("./../icons/icon-map.html")
                            </span>
                            Map
                        </a>

                        <div class="catalog__sort">
                            <select class="select2-sort" data-placeholder="Sort" style="width: 100%">
                                <option></option>
                                <option>Sort 1</option>
                                <option>Sort 2</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    @@for (var i = 0; i < 4; i++) {
                    <div class="col-sm-6 mb-md-5 mb-4">
                        @@include("./../blocks/activities-item.html", {
                        "image": "assets/img/activities-2.jpg",
                        "title": "Dinner Cruise on the Seine",
                        "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                        "price": "€ 15",
                        })
                    </div>
                    <div class="col-sm-6 mb-md-5 mb-4">
                        @@include("./../blocks/activities-item.html", {
                        "image": "assets/img/activities-3.jpg",
                        "title": "Dinner Cruise on the Seine",
                        "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                        "price": "€ 15",
                        })
                    </div>
                    }
                </div>

                @@include("./../blocks/pagination.html")
            </div>
        </div>
    </div>
</div>
