@@if(context.items) {
@@for (var i = 0; i < items.length; i++) {
<div class="form-check">
    <input type="checkbox" id="`+items[i].id+`">
    <label class="form-check__label" for="`+items[i].id+`">`+items[i].text+`  <span class="label-count">`+items[i].count+`</span></label>
</div>
}
}
