<div class="faq">
    <div class="container">
        @@if(context.title){
        <h2 class="faq__title">@@title</h2>
        }

        @@if(context.items) {
        @@for (var i = 0; i < items.length; i++) {
        <div class="faq__item">
            <div class="faq__item-header">
                `+items[i].header+`

                <span class="faq__item-icon-arrow">
                    @@include("./../icons/arrow-down.html")
                </span>
            </div>

            <div class="faq__item-body">
                <p>`+items[i].body+`</p>
            </div>
        </div>
        }
        }
    </div>
</div>
