<div class="d-flex d-lg-none il-btn il-btn-border filter-btn js-filter">
    <span class="text-icon">
          @@include("./../icons/icon-filter.html")
    </span>
    Filter
</div>

<div class="filter">
    <div class="filter__wrap">
        <div class="d-flex filter__header">
        <span class="filter__header-icon">
            @@include("./../icons/arrow-down.html")
        </span>

            <div class="d-flex filter__header-text">
            <span class="text-icon">
                @@include("./../icons/icon-filter.html")
            </span>
                Filter
            </div>

            <span class="filter__header-icon">
            @@include("./../icons/arrow-down.html")
        </span>
        </div>


        <div class="filter__body">
            <div class="filter__block">
                <h6 class="filter__block-title">Availability</h6>

                <div class="d-flex filter__availability">
                    <div class="check-btn">
                        <input type="checkbox" id="check-btn1">
                        <label for="check-btn1">Today</label>
                    </div>

                    <div class="check-btn">
                        <input type="checkbox" id="check-btn2">
                        <label for="check-btn2">Tomorrow</label>
                    </div>

                    <div class="check-btn">
                        <input type="checkbox" id="check-btn3">
                        <label for="check-btn3">Dates</label>
                    </div>
                </div>
            </div>

            <div class="filter__block">
                <h6 class="filter__block-title">Start time</h6>
                <div class="custom-range-slider">
                    <input id="range-time" type="text"/>
                </div>
            </div>

            <div class="filter__block">
                <h6 class="filter__block-title">Categories</h6>

                @@include("./../blocks/checkbox.html", {
                "items": [
                {
                "id": "check1",
                "text": "Entrance tickets",
                "count": "15",
                },
                {
                "id": "check2",
                "text": "Performances",
                "count": "15",
                },
                {
                "id": "check3",
                "text": "Guided tours and free tours",
                "count": "15",
                },
                {
                "id": "check4",
                "text": "Boat tour",
                "count": "15",
                },
                {
                "id": "check5",
                "text": "Aerial tour",
                "count": "15",
                },
                ]
                })
            </div>

            <div class="filter__block">
                <h6 class="filter__block-title">Features</h6>
                @@include("./../blocks/checkbox.html", {
                "items": [
                {
                "id": "check11",
                "text": "Only activities in English",
                "count": "15",
                },
                {
                "id": "check12",
                "text": "Free cancellation",
                "count": "15",
                },
                {
                "id": "check13",
                "text": "Wheelchair accessible",
                "count": "15",
                },
                {
                "id": "check14",
                "text": "Admits pets",
                "count": "15",
                },
                {
                "id": "check15",
                "text": "Pick up at hotel",
                "count": "15",
                },
                {
                "id": "check16",
                "text": "Private Service",
                "count": "15",
                },
                ]
                })
            </div>

            <div class="filter__block">
                <h6 class="filter__block-title">Price</h6>
                <div class="custom-range-slider">
                    <input id="range-price" type="text"/>
                </div>
            </div>

            <div class="filter__block">
                <h6 class="filter__block-title">Duration</h6>
                <div class="custom-range-slider">
                    <input id="range-duration" type="text"/>
                </div>
            </div>
        </div>

        <div class="filter__footer">
            <a href="#" class="il-btn il-btn-gray js-cancel-filter" title="Cancel">Сancel</a>
            <a href="#" class="il-btn il-btn-main js-cancel-filter" title="Apply">Apply</a>
        </div>
    </div>
</div>
