<div class="main-banner">
    @@if(context.image){
    <div class="main-banner__image">
        <img src="@@image" alt="image">
    </div>
    }

    <div class="main-banner__content">
        <div class="container">
            @@if(context.subtitle){
            <p class="main-banner__subtitle">@@subtitle</p>
            }
            @@if(context.title){
            <h1 class="main-banner__title">@@title</h1>
            }

            <div class="main-banner__form">
                <div class="main-banner__form-col main-banner__form-local">
                    <div class="custom-select">
                        <select class="select-local" style="width: 100%" data-placeholder="Where are you travelling to?">
                            <option></option>
                            <option>New York</option>
                            <option>San Francisco</option>
                        </select>
                    </div>
                </div>

                <div class="main-banner__form-col main-banner__form-date">
                    <div class="form-datepicker">
                        <input class="datepicker" placeholder="Choose date">
                    </div>
                </div>

                <div class="main-banner__form-col main-banner__form-count">
                    <div class="custom-select">
                        <select class="select-count" style="width: 100%" data-placeholder="For how many?">
                            <option></option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>

                <button class="il-btn il-btn-icon il-btn-main">
                    <span class="icon">
                        @@include("./../icons/icon-search.html")
                    </span>
                    Search
                </button>
            </div>
        </div>
    </div>
</div>
