<div class="il-modal" id="modal-map">
    <div class="il-modal__content">
        <iframe width="100%" height="500" style="display: block; background-color: red; margin: 0;"></iframe>
    </div>
</div>


<div class="il-modal" id="modal-video">
    <div class="il-modal__content">
        <div class="il-modal__video">
            <iframe src="https://www.youtube.com/embed/gJgxaYT5Q2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
