<div class="news-item">
    <div class="news-item__header">
        @@if(context.image){
        <img src="@@image" alt="image">
        }
    </div>
    <div class="news-item__body">
        @@if(context.title){
        <a href="#" title="@@title" class="news-item__title">@@title</a>
        }
        @@if(context.date){
        <div class="news-item__date">
            <span class="news-item__date-icon">
                <img src="assets/img/icons/icon-clock.svg" alt="icon">
            </span>
            @@date
        </div>
        }
        @@if(context.text){
        <p class="news-item__text">@@text</p>
        }

        <a href="#" title="Read more" class="news-item__more">Read more</a>
    </div>
</div>
