<div class="pagination">
    <a href="#" class="pagination__item pagination__item_prev">
        <span class="pagination__item-icon">
            @@include("./../icons/pagination-prev.html")
        </span>
    </a>
    <a href="#" class="pagination__item active">1</a>
    <a href="#" class="pagination__item">2</a>
    <a href="#" class="pagination__item">3</a>
    <a href="#" class="pagination__item d-sm-flex d-none">4</a>
    <a href="#" class="pagination__item d-sm-flex d-none">5</a>
    <a href="#" class="pagination__item pagination__item_next">
        <span class="pagination__item-icon">
            @@include("./../icons/pagination-next.html")
        </span>
    </a>
</div>
