<div class="partners">
    <div class="container">
        @@if(context.title){
        <h2 class="partners__title">@@title</h2>
        }

        <div class="d-flex partners__list">
            <a href="#" class="partners__item">
                <img src="assets/img/partner-1.svg" alt="logo">
            </a>
            <a href="#" class="partners__item">
                <img src="assets/img/partner-2.svg" alt="logo">
            </a>
            <a href="#" class="partners__item">
                <img src="assets/img/partner-3.svg" alt="logo">
            </a>
            <a href="#" class="partners__item">
                <img src="assets/img/partner-4.svg" alt="logo">
            </a>
        </div>
    </div>
</div>
