<div class="excursion">
    <div class="container">
        <div class="d-flex excursion__wrap">
            <div class="excursion__content">
                <div class="excursion__image">
                    <img src="assets/img/product.jpg" alt="image">
                </div>

                <div class="d-flex tags">
                    <div class="tags__item" title="France">France</div>
                    <div class="tags__item" title="Paris">Paris</div>
                </div>

                <h2 class="excursion__title">Free Walking Tour of Pairs</h2>

                <div class="row align-items-center excursion__info">
                    <div class="col-xl-5 col-sm-6">
                        <div class="review">
                            <span class="review__item">
                                @@include("./../icons/star-icon.html")
                            </span>
                            <span class="review__item">
                                @@include("./../icons/star-icon.html")
                            </span>
                            <span class="review__item">
                                @@include("./../icons/star-icon.html")
                            </span>
                            <span class="review__item">
                                @@include("./../icons/star-icon.html")
                            </span>
                            <span class="review__item">
                                @@include("./../icons/star-icon.html")
                            </span>
                            <span class="review__text">420 reviews </span>
                        </div>
                    </div>

                    <div class="col-xl-5 col-sm-6">
                        <div class="d-flex align-items-center excursion__language">
                            <span class="excursion__language-icon">
                                <img src="assets/img/icons/flag.svg" alt="icon">
                            </span>
                            English
                        </div>
                    </div>
                </div>


                <div class="row align-items-center excursion__info">
                    <div class="col-xl-5 col-sm-6">
                        <div class="d-flex align-items-center excursion__duration">
                            <span class="excursion__duration-icon">
                                <img src="assets/img/icons/icon-clock.svg" alt="icon">
                            </span>
                            2 hours 30 minutes
                        </div>
                    </div>

                    <div class="col-xl-5 col-sm-6">
                        <div class="d-flex align-items-center excursion__cancellation">
                            <span class="excursion__cancellation-icon">
                                <img src="assets/img/icons/icon-check.svg" alt="icon">
                            </span>
                            Free cancellation
                        </div>
                    </div>
                </div>


                <div class="excursion__description">
                    <div class="faq__item active">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Description
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>

                    <div class="faq__item">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Prices
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>

                    <div class="faq__item">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Details
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>

                    <div class="faq__item">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Cancellations
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>

                    <div class="faq__item">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Meeting point
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>

                    <div class="faq__item">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Reviews
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>

                    <div class="faq__item">
                        <div class="faq__item-header">
                            <span class="d-block d-lg-none faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                            Schedules
                            <span class="faq__item-icon-arrow">
                                @@include("./../icons/arrow-down.html")
                            </span>
                        </div>

                        <div class="faq__item-body">
                            <h5>Free Walking Tour of Pairs</h5>
                            <p>The French capital stands on the banks of the Seine and was built upon over two thousand
                                years of history. From Gallic origins to the Roman conquest, through opulence,
                                decadence, revolution, war, occupation, liberation, and more. Paris has lived so much,
                                and thanks to our expert local guide you'll learn all about the history of this
                                incredible city.</p>

                            <p>We'll meet at the Hotel de Ville, next to the Paris tourist office. During this free
                                tour, we'll visit the most emblematic landmarks Paris has to offer such as Notre Dame
                                Cathedral (famous throughout popular culture and one of the finest examples of French
                                Gothic architecture), Palais Justice, Pont Neuf, The Louvre (one of the world's most
                                famous museums, and home to da Vinci's Mona Lisa among other incredible pieces), Arc de
                                Triomphe, Musée d'Orsay, and much, much more.</p>

                            <p>Our expert guide will tell you about the history of the monuments we'll be visiting and
                                facts about the city. From its origin as a medieval village to becoming the capital of
                                Napoleon's empire, from the French Revolution to La Belle Époque and Nazi occupation,
                                this tour will breathe life into the city and the history of Paris to create an
                                experience you'll never forget.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="excursion__aside">
                @@include("./../blocks/aside-images.html")

                @@include("./../blocks/aside-calendar.html")
            </div>
        </div>
    </div>
</div>
