<div class="promotional">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="d-flex promotional__wrap">
                    <div class="promotional__title">
                        <h4 class="promotional__title-main">
                            Do you want to receive <br>
                            current promotional offers?
                        </h4>
                        <p class="promotional__title-sub">Subscribe to our newsletter!</p>
                    </div>

                    <form class="promotional__form">
                        <div class="row">
                            <div class="col-lg-6 col-md-7 col-sm-6">
                                <div class="custom-form-group">
                                    <input type="email" placeholder="Enter your Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5 col-sm-6">
                                <button type="submit" class="il-bnt w-100 il-btn-white il-btn-icon">
                                    <span class="icon">@@include("./../icons/icon-send.html")</span>
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
