<div class="block-popular">
    <div class="container">
        @@if(context.title) {
        <h2 class="block-popular__title">@@title</h2>
        }

        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-5">
                @@include("./../blocks/activities-item.html", {
                "image": "assets/img/activities-1.jpg",
                "title": "Dinner Cruise on the Seine",
                "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                "price": "€ 15",
                })
            </div>

            <div class="col-lg-4 col-sm-6 mb-5">
                @@include("./../blocks/activities-item.html", {
                "image": "assets/img/activities-2.jpg",
                "title": "Dinner Cruise on the Seine",
                "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                "price": "€ 15",
                })
            </div>

            <div class="col-lg-4 col-sm-6 mb-5">
                @@include("./../blocks/activities-item.html", {
                "image": "assets/img/activities-3.jpg",
                "title": "Dinner Cruise on the Seine",
                "text": "Immerse yourself in “The City of Lights” with a guided your around the French Capital, discovering the Louvre, the Siene and Notre Dame.",
                "price": "€ 15",
                })
            </div>
        </div>
    </div>
</div>
