<div class="top-head">
    <div class="top-head__image">
        <img src="@@image" alt="image">
    </div>
    <div class="container">
        <div class="top-head__wrap">
            @@if(context.title){
            <h1 class="top-head__title">@@title</h1>
            }
            <div class="d-flex tags">
                <a href="#" class="tags__item" title="The United States">The United States</a>
                <a href="#" class="tags__item" title="The East Coast">The East Coast</a>
            </div>
        </div>
    </div>
</div>
