<div class="main-video">
    <div class="container">
        <h2 class="main-video__title">These emotions can be yours</h2>

        <div class="main-video__wrap">
            <div class="main-video__body">
                <div class="main-video__body-content">
                    <img src="assets/img/video.jpg" alt="image">
                </div>

                <div class="main-video__body-play js-modal" data-modal-id="modal-video">
                    <img src="assets/img/btn-play.svg" alt="play">
                </div>
            </div>
        </div>
    </div>
</div>
